.c1{
  padding: 20px;
  /* background-color: #bbdefb; */
  margin: 100px;
  border-top: 20px solid #90cc00;
  border-bottom: 4px solid #c6ff00;
  border-radius: 10px;

}

.c2{
  margin-bottom:  20px;
  font-weight: lighter;
  color: black;
  padding: 5px;


}
.c3{
  width: 100px;
  height: 26px;
  /* background-color: #edffff; */
  margin-right: 5px;
  border-radius: 20px 20px 20px 20px;
  font-weight: bold;
}

.c4{
  background-color: #8aacc8;
  height: 20px;
}
.c5{

}
input{
  font-size: 30px;
}
.c6{
  padding: 5px;
 border-right: 1px solid #9e9e9e;
  border-top: 1px solid #9e9e9e;
   border-bottom: 1px solid #9e9e9e;

  color: #4b2c20
}
